@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStart {
  text-decoration: none;
  border: 6px solid #008c8e;
  border-radius: 20px;
  background-color: transparent;
  font-family: "VT323", monospace;
  font-weight: bold;
  color: #008c8e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStart:hover {
  background-color: #008c8e;
  color: white;
}

.buttonStart > p {
  font-size: 3em;
  margin: 0 1em;
  line-height: 60px;
}
