i {
    color: white;
    font-size: 50px;
}

.contact-us{
    height: 100vh;
    text-align: center;
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap-contact{
    display: flex;
    justify-content: center;
    margin-top: 50px
}
.net{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 100%;
    height:auto;
    background-position: center;
}


.hour{
    font-size: 70px;
    font-weight: 900;
    margin: 40px
}

.info{
    font-size: 20px;
    margin: 10px
}
