.registro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.registro__container {
    background-color: transparent;
    border: none;
    padding: 0px;
    max-width: 340px;
    width: 70%;
    border-radius: 40px;
    color: #ccc;
    min-height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.registro__container h2 {
    font-family: Tahoma, sans-serif;
    font-weight: 100;
}

.registro__container--form {
    display: flex;
    flex-direction: column;
    margin-top: 30px
}

.registro__container--remember label {
    font-size: 14px;
}

.registro__container--remember {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.registro__container--remember a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.registro__container--remember a:hover {
    text-decoration: underline;
}

.registro__container--socialmedia>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.registro__container--socialmedia>div>img {
    width: 30px;
    margin-right: 10px;
}

.registro__container--register {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.registro__container--register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.registro__container--register a:hover {
    text-decoration: underline;
}

.registro__container--iniciarsesion {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro__container--iniciarsesion a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.registro__container--iniciarsesion a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 20px 20px;
    outline: none;
    color: white;
}

input:last-of-type {
    margin-bottom: 40px;
}

.input::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    width: auto;
    height: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0px;
}

@media only screen and (max-width: 600px) {
    .registro__container {
        
    }
}